

<div id="logindiv">
<h1> Please login... </h1>
<form>
<label> Enter Username </label> <input type="text" id="loginusername"> <br><br>


<label> Enter Password </label> <input type="text" id="loginpassword"> <br><br>

<br>ClICK BELOW BUTTON TO GET OTP<br>
<button id="getotp"> GET OTP </button><br>
<label  style="display:none; class="otpmatch"> Enter OTP </label> <input type='text' id='enterotp' style="display:none;" class="otpmatch"><br>
<input type="submit" id="forgotpassword" value="Forgot Password"><br>
<input type="submit" id="loginsubmit" value="login"  style="display:none;">

</form>
<div id="loginhover"> </div>
</div>
<div id="loginmessage"></div>
